.App {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  color: black;
  margin-bottom: 50px;
  text-align: center;
  font-size: calc(30px + 2vmin);
}

.btn {
  margin: 4px;
  border: none;
  background-color: rgba(94, 7, 255, 0.986);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-group,
.form-group input,
.form-group select {
  border-radius: 0.3rem;
  padding: 0.3rem;
  font-size: 25px;
}
